---
version: '3.9'

services:
  vector-store-service:
    build:
      context: .
      dockerfile: services/vector-store-service/Dockerfile
    container_name: vector-store-service
    ports:
      - 8001:8000
    networks:
      - rag-net

  api-gateway:
    build:
      context: .
      dockerfile: services/api-gateway/Dockerfile
    container_name: api-gateway
    ports:
      - 8080:8000
    depends_on:
      - vector-store-service
    networks:
      - rag-net

networks:
  rag-net:
    driver: bridge
